<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>footer1</title>
</head>
<body>
    <div id="item" draggable="true">
        <footer class="py-3 px-4 bg-black flex flex-row w-screen h-96 "  >
            <div>
                <a href="#" class="text-white ml-2 mt-15 text-3xl font-bold" >Logo</a>
            </div>
          <div class="flex flex-col ml-16 mt-15">
            <div class="mt-2 ">
                <a href="#" class="text-white" >Contact</a>
            </div>
            <div class="mt-2">
                <a href="#" class="text-white" >Service</a>
            </div>
            <div class="mt-2">
                <a href="#" class="text-white" >A propos</a>
            </div>
          </div>
          <div class="w-96 pl-96"></div>
            <button class="ml-80 rounded-md px-4 py-2 h-10  bg-pink-600 text-white font-bold">
                Commencer
              </button>     
            </footer>
      </div>
</body>
</html>